# Plantilla de ejemplo (Subir a GitHub sin contraseñas reales)
NEO4J_USER=neo4j
NEO4J_PASS=tu_contraseña_aqui

POSTGRES_DB=escala_db
POSTGRES_USER=escala_user
POSTGRES_PASSWORD=tu_contraseña_aqui

REDIS_HOST=redis
REDIS_PORT=6379